Repository insiderfyr/ShopMindAI., changes with the owners that .github/CODEOWNERS names for each.
All owners: @shopmindai/core-team, @shopmindai/frontend-team, @shopmindai/mobile-team, @shopmindai/admin-team, @shopmindai/design-system-team, @shopmindai/auth-team, @shopmindai/security-team, @shopmindai/chat-team, @shopmindai/product-team, @shopmindai/payments-team, @shopmindai/infrastructure-team, @shopmindai/platform-team, @shopmindai/devops-team, @shopmindai/documentation-team

Remove user-service files and add enterprise architecture documentation
  ENTERPRISE_ARCHITECTURE.md
  ENTERPRISE_PROJECT_STRUCTURE.md
  infrastructure/api-gateway/config/traefik.yml
  infrastructure/monitoring/config/prometheus.yml
  services/chat-service/internal/domain/conversation.go
  services/user-management-service/cmd/server/main.go
  services/user-management-service/internal/domain/user.go
  services/user-service/Dockerfile
  services/user-service/go.mod
  services/user-service/main.go
Owners: @shopmindai/documentation-team, @shopmindai/infrastructure-team, @shopmindai/chat-team, @shopmindai/core-team

Checkpoint before follow-up message
  apps/web/app/chat/page.tsx
  services/user-service/main_test.go
Owners: @shopmindai/frontend-team, @shopmindai/core-team

Add frontend architecture, testing strategy, and initial UI components
  SCALABILITY_BEST_PRACTICES.md
  TESTING_STRATEGY.md
  apps/web/FRONTEND_ARCHITECTURE.md
  apps/web/src/shared/ui/atoms/Button/Button.test.tsx
  apps/web/src/shared/ui/atoms/Button/Button.tsx
  apps/web/src/shared/ui/molecules/SearchBar/SearchBar.tsx
Owners: @shopmindai/documentation-team, @shopmindai/frontend-team

Add CI/CD pipeline, README, and core service implementations
  .github/workflows/main.yml
  FINAL_README.md
  PROJECT_CHECKLIST.md
  infrastructure/monitoring/prometheus/alerts/alerts.yml
  infrastructure/monitoring/prometheus/prometheus.yml
  services/chat-service/docs/API.md
  services/chat-service/internal/handlers/websocket_handler.go
  services/chat-service/internal/handlers/websocket_handler_test.go
  services/user-service/docs/API.md
  services/user-service/internal/handlers/user_handler.go
  services/user-service/internal/handlers/user_handler_test.go
Owners: @shopmindai/devops-team, @shopmindai/documentation-team, @shopmindai/infrastructure-team, @shopmindai/chat-team, @shopmindai/core-team

Implement billion-scale WebSocket, caching, and database optimizations
  SILICON_VALLEY_SCALING_ANALYSIS.md
  apps/web/hooks/use-websocket.ts
  infrastructure/monitoring/prometheus/alerts/scale-alerts.yml
  scripts/load-test-billion-scale.js
  services/chat-service/cmd/server/main.go
  services/chat-service/go.mod
  services/chat-service/internal/cache/redis_cache.go
  services/chat-service/internal/handlers/chat_handler.go
  services/chat-service/internal/repository/chat_repository.go
  services/chat-service/migrations/001_initial_schema.up.sql
Owners: @shopmindai/documentation-team, @shopmindai/frontend-team, @shopmindai/infrastructure-team, @shopmindai/core-team, @shopmindai/chat-team

.github/CODEOWNERS:

# ShopMindAI Code Ownership

# Global owners
* @shopmindai/core-team

# Frontend
/apps/web/ @shopmindai/frontend-team
/apps/mobile/ @shopmindai/mobile-team
/apps/admin/ @shopmindai/admin-team
/packages/ui/ @shopmindai/design-system-team

# Backend Services
/services/auth-service/ @shopmindai/auth-team @shopmindai/security-team
/services/chat-service/ @shopmindai/chat-team
/services/product-service/ @shopmindai/product-team
/services/payment-service/ @shopmindai/payments-team @shopmindai/security-team

# Infrastructure
/infrastructure/ @shopmindai/infrastructure-team
/platform/ @shopmindai/platform-team
/.github/workflows/ @shopmindai/devops-team

# Documentation
/docs/ @shopmindai/documentation-team
*.md @shopmindai/documentation-team

# Security
/platform/security/ @shopmindai/security-team
/tests/security/ @shopmindai/security-team
